.footer {
  padding: 85px 0 86px;
  .copyring {
    margin: 86px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    line-height:  14px;
  }
  .row {
    padding: 0;
    justify-content: space-between;
  }
  &__title {
    margin: 0 0 28px 0;
    font-size: 18px;
    font-weight: bold;
    color: #101010;
  }
  &__text {
    font-size: 12px;
    text-transform: capitalize;
    line-height: 160%;
  }
  &__icon {
    margin-right: 3px;
    &:last-child {
      margin: 0;
    }
  }
  ul {
    flex: 0 0 23%;
    @include flexBox;
    flex-direction: column;
  }
}
