.header {
  @include flexBox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  &__logo {
    height: 18px;
    @include flexBox;
    justify-content: center;
    align-items: flex-end;
    &:after {
      margin: 0 0 0 4px;
      content: "cloudbudget";
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  &__nav {

  }
  &__link {
    margin-right: 35px;
    transition: font-weight .3s linear;
    &:hover {
      font-weight: bold;
      cursor: pointer
    }
    &:last-child {
      margin: 0;
    }
  }
  .cta {
    width: 100px;
    height: 40px;
  }


  @media (max-width: 1066px) {
    .header__link {
      font-size: 11px;
    }
  }
  @media (max-width: 900px) {
    nav {
      display: none;
    }
    .header__bar {
      display: block;
    }
  }
}
