.header {
  @include flexBox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  &__logo {
    height: 18px;
    @include flexBox;
    justify-content: center;
    align-items: flex-end;
    &:after {
      margin: 0 0 0 4px;
      content: "cloudbudget";
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  &__nav {

  }
  &__link {
    margin-right: 35px;
    &:last-child {
      margin: 0;
    }
  }
  .cta {
    width: 100px;
    height: 40px;
  }
}
