// NULLING
@import "null.scss";
// MIXINS
@import "mixins.scss";

$fontfamily: 'Lato';
$orange: #EE3D1B;
$purple: #D52047;

html, body {
  height: 100%;
}

body {
  font-family: $fontfamily;

}

section {
      overflow-x: hidden;
}

.container {
  max-width: 1115px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 90%;
  }
}

.row {
  padding: 140px 0 110px;
  @include flexBox;
  &_col {
    flex-direction: column;
    width: 50%;
    &_f {
      @include flexBox;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__title {
    margin: 0 0 54px 0;
    font-weight: bold;
    font-size: 36px;
    color: #000;
  }
  &__text {
    margin: 0 0 18px 0;
    font-size: 14px;
    color: #000;
  }
  &__link {
    font-size: 14px;
    color: #ED4C5C;
    transition: all .3s linear;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid #ED4C5C;
    }
  }
  &__img {
  }
  &__inner {
    padding: 0 2%;
    .inner__content {
      padding: 33px 32px 25px;
      border-radius: 8px;
      text-align: center;
      background: #fff;
    }
    .inner__title {
      font-size: 20px;
      font-weight: bold;
    }
    .inner__text {
      margin: 20px 0 7px 0;
      font-size: 14px;
    }
    .inner__link {
        font-size: 13px;
        color: #ED4C5C;
        transition: all .3s linear;
        &:hover {
          cursor: pointer;
          border-bottom: 1px solid #ED4C5C;
        }
    }
  }
}

.cta  {
   @include flexBox;
   justify-content: center;
   align-items:center;
   box-shadow: 5px 3px 17px rgba(0,0,0,0.5);
   transition: all .4s ease-in;
   &:hover {
     cursor: pointer;
     box-shadow: none;
   }
   &__white_border {
     border: 1px solid #fff;
     color: #fff;
     box-shadow: none;
     &:hover {
        background: #fff;
        color: #ED4C5C;
     }
   }
   &__white {
     background: #fff;
     color: #ED4C5C;
   }
   &_red {
     background: #ED4C5C;
     color: #fff;
     border-radius: 0;
     text-transform: uppercase;
   }
}

/*=========Header==============*/

.mainscreen {
  padding: 59px 0 187px;
  position: relative;
  background: url("../images/header/bg.png");
  background-size: cover;
  max-height: 100%;
  .offer {
    margin: 0 auto;;
    max-width: 568px;
    margin-top: 167px;
    @include flexBox;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    &__title {
      font-size: 72px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__text {
      margin: 39px 0;
      font-size: 24px;
      font-weight: bold;
    }
    .cta {
      width: 160px;
      height: 50px;
    }
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   display: block;
  //   height: 100%;
  //   width: 100%;
  //   opacity: 0.3;
  //   z-index: 0;
  //   background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  // }
}

@import "header.scss";


/*=========Main styles=========*/

//Styles
/*VIDEO SECTION*/
.video {
  .row_col:nth-child(1) {
    margin-top: 50px;
  }
  .row__img {
    margin: 0 auto;
    height: 100%;
    width: auto;
    background: url(../images/sections/bg.png) no-repeat;
    background-position: center;
  }
}
/*FEATURES SECTION*/
.features {
  background: #FAFAFA;
  .row {
    align-items: center;
    flex-direction: column;
    @media (max-width: 768px) {
      @include flexBox;
      flex-direction: column;
    }
  }
  .row__inner {
    height: 250px;
    border-radius: 15px;
    .inner__content {
      margin: 155px 0 0 0;
    }
    &:nth-child(1) {
      background: url("../images/sections/1.png") no-repeat;
    }
    &:nth-child(2) {
      margin: 0 30px;
      background: url("../images/sections/2.png") no-repeat;
    }
    &:nth-child(3) {
      background: url("../images/sections/3.png") no-repeat;
    }
  }
  @media (max-width: 940px) {
    .row__inner {
      height: 200px;
      .inner__content {
        margin: 135px 0 0 0 ;
      }
    }
  }
}
/*TECHNOLOGY SECTION*/
.technology {
  .row {
    text-align: center;
    flex-direction: column;
  }
  .row__inner  {
    .inner__icon {
      height: 80px;
    }
    @include flexBox;
    flex-direction: column;
    align-items: center;
    width: 24%;
    text-align: center;
  }
}
/*DOWNLOAD SECTION*/
.download {
  background: #ED4C5C;
  .row {
    padding: 94px 0 95px;
    &__title, &__text {
      color: #fff;
    }
    &__title {
      margin-top: 15px;
    }
    &__text {
      max-width: 445px;
      margin: 0 0 40px 0;
    }
    &__icons {
      margin-bottom: 13px;
      display: flex;
      flex-direction: row;
    }
    &__icon {
      margin: 0 26px 0 0;
      &:last-child {
        margin: 0;
      }
    }
    .row_col:nth-child(2) {
      position: relative;
    }
    &__img {
      position: absolute;
      width: 383px ;
      height: 267px;
      background-size: cover;
    }
    .img_1 {
      background: url("../images/video/1.png") no-repeat;
    }
    .img_2 {
      background: url("../images/video/2.png") no-repeat;
    }
    .img_3 {
      background: url("../images/video/3.png") no-repeat;
    }
    .img_selected {
      width: 445px;
      height: 311px;
      background-size: contain;
      transform: translateX(8%);
    }
    .no_sel_1 {
      transform: translateY(10%);
    }
    .no_sel_2 {
      transform:  translateX(35%) translateY(10%);
    }
  }
}

.contact {
  .row__text {
    max-width: 80%;
    line-height: 140%;
  }
  label {
    input, select {
      padding: 14px 0 14px 20px;
      background: none;
      font-size: 16px;
      color: rgba(19, 39, 76, 0.5);
      border: 1px solid #333;
      border-radius: 6px;
      text-transform: capitalize;
    }
    input[type="f_name"], input[type="l_name"] {
      width: 46%;
    }
    input[type="l_name"] {
      float: right;
    }
    input[type="number"] {
      width: 100%;
      margin: 24px 0
    }
    select {
      width: 100%;
      margin-bottom: 24px;
    }
    .cta {
      width: 160px;
      height: 60px;

    }
  }
}

.bar__content {
  padding: 130px 0 0 0;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: white;
  .bar__link {
    font-size: 47px;
    text-transform: uppercase;

  }
}

/*=========Footer==============*/
@import "footer.scss";
