*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: none;
}

input, select {
  border: none;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "Lato";
}

section {
  overflow-x: hidden;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

.row {
  padding: 140px 0 110px;
  display: flex;
  display: -ms-flexbox;
}
.row_col {
  flex-direction: column;
  width: 50%;
}
.row_col_f {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.row__title {
  margin: 0 0 54px 0;
  font-weight: bold;
  font-size: 36px;
  color: #000;
}
.row__text {
  margin: 0 0 18px 0;
  font-size: 14px;
  color: #000;
}
.row__link {
  font-size: 14px;
  color: #ED4C5C;
  transition: all 0.3s linear;
}
.row__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #ED4C5C;
}
.row__inner {
  padding: 0 2%;
}
.row__inner .inner__content {
  padding: 33px 32px 25px;
  border-radius: 8px;
  text-align: center;
  background: #fff;
}
.row__inner .inner__title {
  font-size: 20px;
  font-weight: bold;
}
.row__inner .inner__text {
  margin: 20px 0 7px 0;
  font-size: 14px;
}
.row__inner .inner__link {
  font-size: 13px;
  color: #ED4C5C;
  transition: all 0.3s linear;
}
.row__inner .inner__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #ED4C5C;
}

.cta {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 3px 17px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in;
}
.cta:hover {
  cursor: pointer;
  box-shadow: none;
}
.cta__white_border {
  border: 1px solid #fff;
  color: #fff;
  box-shadow: none;
}
.cta__white_border:hover {
  background: #fff;
  color: #ED4C5C;
}
.cta__white {
  background: #fff;
  color: #ED4C5C;
}
.cta_red {
  background: #ED4C5C;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
}

/*=========Header==============*/
.mainscreen {
  padding: 59px 0 187px;
  position: relative;
  background: url("../images/header/bg.png");
  background-size: cover;
  max-height: 100%;
}
.mainscreen .offer {
  margin: 0 auto;
  max-width: 568px;
  margin-top: 167px;
  display: flex;
  display: -ms-flexbox;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
}
.mainscreen .offer__title {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
.mainscreen .offer__text {
  margin: 39px 0;
  font-size: 24px;
  font-weight: bold;
}
.mainscreen .offer .cta {
  width: 160px;
  height: 50px;
}

.header {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header__logo {
  height: 18px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: flex-end;
}
.header__logo:after {
  margin: 0 0 0 4px;
  content: "cloudbudget";
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.header__link {
  margin-right: 35px;
  transition: font-weight 0.3s linear;
}
.header__link:hover {
  font-weight: bold;
  cursor: pointer;
}
.header__link:last-child {
  margin: 0;
}
.header .cta {
  width: 100px;
  height: 40px;
}
@media (max-width: 1066px) {
  .header .header__link {
    font-size: 11px;
  }
}
@media (max-width: 900px) {
  .header nav {
    display: none;
  }
  .header .header__bar {
    display: block;
  }
}

/*=========Main styles=========*/
/*VIDEO SECTION*/
.video .row_col:nth-child(1) {
  margin-top: 50px;
}
.video .row__img {
  margin: 0 auto;
  height: 100%;
  width: auto;
  background: url(../images/sections/bg.png) no-repeat;
  background-position: center;
}

/*FEATURES SECTION*/
.features {
  background: #FAFAFA;
}
.features .row {
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .features .row {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
  }
}
.features .row__inner {
  height: 250px;
  border-radius: 15px;
}
.features .row__inner .inner__content {
  margin: 155px 0 0 0;
}
.features .row__inner:nth-child(1) {
  background: url("../images/sections/1.png") no-repeat;
}
.features .row__inner:nth-child(2) {
  margin: 0 30px;
  background: url("../images/sections/2.png") no-repeat;
}
.features .row__inner:nth-child(3) {
  background: url("../images/sections/3.png") no-repeat;
}
@media (max-width: 940px) {
  .features .row__inner {
    height: 200px;
  }
  .features .row__inner .inner__content {
    margin: 135px 0 0 0;
  }
}

/*TECHNOLOGY SECTION*/
.technology .row {
  text-align: center;
  flex-direction: column;
}
.technology .row__inner {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  width: 24%;
  text-align: center;
}
.technology .row__inner .inner__icon {
  height: 80px;
}

/*DOWNLOAD SECTION*/
.download {
  background: #ED4C5C;
}
.download .row {
  padding: 94px 0 95px;
}
.download .row__title, .download .row__text {
  color: #fff;
}
.download .row__title {
  margin-top: 15px;
}
.download .row__text {
  max-width: 445px;
  margin: 0 0 40px 0;
}
.download .row__icons {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
}
.download .row__icon {
  margin: 0 26px 0 0;
}
.download .row__icon:last-child {
  margin: 0;
}
.download .row .row_col:nth-child(2) {
  position: relative;
}
.download .row__img {
  position: absolute;
  width: 383px;
  height: 267px;
  background-size: cover;
}
.download .row .img_1 {
  background: url("../images/video/1.png") no-repeat;
}
.download .row .img_2 {
  background: url("../images/video/2.png") no-repeat;
}
.download .row .img_3 {
  background: url("../images/video/3.png") no-repeat;
}
.download .row .img_selected {
  width: 445px;
  height: 311px;
  background-size: contain;
  transform: translateX(8%);
}
.download .row .no_sel_1 {
  transform: translateY(10%);
}
.download .row .no_sel_2 {
  transform: translateX(35%) translateY(10%);
}

.contact .row__text {
  max-width: 80%;
  line-height: 140%;
}
.contact label input, .contact label select {
  padding: 14px 0 14px 20px;
  background: none;
  font-size: 16px;
  color: rgba(19, 39, 76, 0.5);
  border: 1px solid #333;
  border-radius: 6px;
  text-transform: capitalize;
}
.contact label input[type=f_name], .contact label input[type=l_name] {
  width: 46%;
}
.contact label input[type=l_name] {
  float: right;
}
.contact label input[type=number] {
  width: 100%;
  margin: 24px 0;
}
.contact label select {
  width: 100%;
  margin-bottom: 24px;
}
.contact label .cta {
  width: 160px;
  height: 60px;
}

.bar__content {
  padding: 130px 0 0 0;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: white;
}
.bar__content .bar__link {
  font-size: 47px;
  text-transform: uppercase;
}

/*=========Footer==============*/
.footer {
  padding: 85px 0 86px;
}
.footer .copyring {
  margin: 86px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}
.footer .row {
  padding: 0;
  justify-content: space-between;
}
.footer__title {
  margin: 0 0 28px 0;
  font-size: 18px;
  font-weight: bold;
  color: #101010;
}
.footer__text {
  font-size: 12px;
  text-transform: capitalize;
  line-height: 160%;
}
.footer__icon {
  margin-right: 3px;
}
.footer__icon:last-child {
  margin: 0;
}
.footer ul {
  flex: 0 0 23%;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
}