*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: none;
}

input {
  border: none;
  outline: none;
}

body {
  font-family: "Lato";
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}

.row {
  padding: 140px 0 110px;
  display: flex;
  display: -ms-flexbox;
}
.row_col {
  flex-direction: column;
  width: 50%;
}
.row_col_f {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.row__title {
  margin: 0 0 54px 0;
  font-weight: bold;
  font-size: 36px;
  color: #000;
}
.row__text {
  margin: 0 0 18px 0;
  font-size: 14px;
  color: #000;
}
.row__link {
  font-size: 14px;
  color: #ED4C5C;
}
.row__inner {
  padding: 0 2%;
}
.row__inner .inner__content {
  padding: 33px 32px 25px;
  border-radius: 8px;
  text-align: center;
  background: #fff;
}
.row__inner .inner__title {
  font-size: 20px;
  font-weight: bold;
}
.row__inner .inner__text {
  margin: 20px 0 7px 0;
  font-size: 14px;
}
.row__inner .inner__link {
  font-size: 13px;
  color: #ED4C5C;
}

.cta {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.cta__white_border {
  border: 1px solid #fff;
  color: #fff;
}
.cta__white {
  background: #fff;
  color: #ED4C5C;
}

/*=========Header==============*/
.mainscreen {
  padding: 59px 0 187px;
  position: relative;
  background: url("../images/header/bg.png");
  background-size: cover;
}
.mainscreen .offer {
  margin: 0 auto;
  max-width: 568px;
  margin-top: 167px;
  display: flex;
  display: -ms-flexbox;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
}
.mainscreen .offer__title {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
.mainscreen .offer__text {
  margin: 39px 0;
  font-size: 24px;
  font-weight: bold;
}
.mainscreen .offer .cta {
  width: 160px;
  height: 50px;
}

.header {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header__logo {
  height: 18px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: flex-end;
}
.header__logo:after {
  margin: 0 0 0 4px;
  content: "cloudbudget";
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.header__link {
  margin-right: 35px;
}
.header__link:last-child {
  margin: 0;
}
.header .cta {
  width: 100px;
  height: 40px;
}

/*=========Main styles=========*/
/*VIDEO SECTION*/
.video .row_col:nth-child(1) {
  margin-top: 50px;
}
.video .row__img {
  margin: 0 auto;
  height: 100%;
  width: auto;
  background: url(../images/sections/bg.png) no-repeat;
  background-position: center;
}

/*FEATURES SECTION*/
.features {
  background: #FAFAFA;
}
.features .row {
  align-items: center;
  flex-direction: column;
}
.features .row__inner {
  height: 250px;
}
.features .row__inner .inner__content {
  margin: 155px 0 0 0;
}
.features .row__inner:nth-child(1) {
  background: url("../images/sections/1.png") no-repeat;
}
.features .row__inner:nth-child(2) {
  margin: 0 30px;
  background: url("../images/sections/2.png") no-repeat;
}
.features .row__inner:nth-child(3) {
  background: url("../images/sections/3.png") no-repeat;
}

/*TECHNOLOGY SECTION*/
.technology .row {
  text-align: center;
  flex-direction: column;
}
.technology .row__inner {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  width: 24%;
  text-align: center;
}
.technology .row__inner .inner__icon {
  height: 80px;
}

/*DOWNLOAD SECTION*/
.download {
  background: #ED4C5C;
}
.download .row {
  padding: 94px 0 95px;
}
.download .row__title, .download .row__text {
  color: #fff;
}
.download .row__title {
  margin-top: 15px;
}
.download .row__text {
  max-width: 445px;
  margin: 0 0 40px 0;
}
.download .row__icons {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
}
.download .row__icon {
  margin: 0 26px 0 0;
}
.download .row__icon:last-child {
  margin: 0;
}
.download .row .row_col:nth-child(2) {
  position: relative;
}
.download .row__img {
  position: absolute;
  width: 383px;
  height: 267px;
  background-size: cover;
}
.download .row .img_1 {
  background: url("../images/video/1.png") no-repeat;
}
.download .row .img_2 {
  background: url("../images/video/2.png") no-repeat;
}
.download .row .img_3 {
  background: url("../images/video/3.png") no-repeat;
}
.download .row .img_selected {
  width: 445px;
  height: 311px;
  background-size: contain;
  transform: translateX(8%);
}
.download .row .no_sel_1 {
  transform: translateY(10%);
}
.download .row .no_sel_2 {
  transform: translateX(35%) translateY(10%);
}

/*=========Footer==============*/
.footer {
  padding: 68px 0 66px;
}
.footer .container {
  display: flex;
  display: -ms-flexbox;
}
.footer_col {
  display: flex;
  display: -ms-flexbox;
}
.footer__socials .icon {
  margin-right: 13px;
  display: flex;
  display: -ms-flexbox;
  width: 80px;
  height: 80px;
  background: #e1e1e1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.footer__socials .icon img {
  width: 21px !important;
  height: 21px !important;
}
.footer__socials .icon:nth-child(3) {
  margin-right: 140px;
}
.footer__content {
  flex-direction: column;
  justify-content: center;
}
.footer__content .content__title {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}